@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Space+Grotesk:wght@500;600;700;800&family=IBM+Plex+Sans+Arabic:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@layer base {
  :root {
    --font-space-grotesk: 'Space Grotesk', sans-serif;
    --font-jakarta: 'Plus Jakarta Sans', sans-serif;
    --font-arabic: 'IBM Plex Sans Arabic', sans-serif;
  }
}
